* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:before, :after {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background: #fff;
  font-size: 12px;
  color: #fff; }

.roboto{
  font-family: 'Roboto', sans-serif;  
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

ul, li {
  list-style: none; }

.project-info a {color: #0374b7;}

a {
  color: #ffffff;
  text-decoration: none; }

a:active, .hover-body a:hover {
  outline: 0; }

h2 {
  font-weight: 300; }
  
h3 {
  font-weight: 300; }

h4 {
  font-weight: 300; }

h5 {
  font-weight: 300; }

h6 {
  font-weight: 300; }

input {
  font-size: 13px; -webkit-appearance: none;}

input:focus {outline: none;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type="number"]{
  -moz-appearance: textfield;
}

input[type=date] {color: #fff;}
select{-webkit-appearance: none;appearance: none;-moz-appearance: none; border-radius: 0;}
textarea {resize: none;}
.intl-tel-input .country-list {
  overflow-x: hidden; line-height: normal;font-size: 15px;
      max-width: 300px;
    max-height: 200px;
}
input.error, select.error, textarea.error {border-color: red !important}
select::-ms-expand {
    display: none;
}
.fancybox-skin {border-radius: 0;}
.fancybox-wrap {max-width: 90%; max-height: 95%;}
.fancybox-inner {max-width: 100%;}
.owl-theme .owl-nav.disabled + .owl-dots {left: 0;right: 0;margin: 0 auto;}
.transition {transition: all 1s cubic-bezier(0.04, 0.58, 0.43, 1.04); }
.owl-carousel .owl-stage {display: flex;}
.fancybox-nav span {visibility: visible;}
.main-wrapper {
  width: 98%;
  margin: 0 auto;

/*  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  transition: all 0.5s ease;*/
}

.top-space{
  width: 100%;
}

.error-wrapper {
  width: 90%;
  /*padding-right: 70px;*/
}

.line-anim-01{
  position: relative;
}

.line-anim-01:after{
  content: '';
  display: block;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 0.3s ease;
}

.line-anim-01.active:after,
.hover-body .line-anim-01:hover:after{
  width: 100%;
}

.bg-anim-01{
  position: relative;
  overflow: hidden;
}

.bg-anim-01:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  white-space: nowrap;
  padding: 9px 0px 8px;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: 50px;
}

.bg-anim-01.active:after,
.hover-body .bg-anim-01:hover:after{
  width: 100%;
  padding: 9px 17px 8px;
}

/************************** Other Start */

.form-wrp .intl-tel-input.separate-dial-code .selected-dial-code{
  color: #1e1e1e;
  line-height: 0;
  padding-left: 22px;
}

.form-wrp .intl-tel-input .selected-flag .iti-arrow {
  border-top: 7px solid #1e1e1e;
  right: 0;
}

#phplive_btn_1500478216{
  z-index: 999999;
}

#chat_embed_header{
  background: #2184bf;
}

#chat_submit_btn button.input_button{
  background-color: #2184bf;
}

/************************** Other End */

/************************** Page change Start */

.change-page {
  background: #fff;
  width: 0%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  transition: all 0.5s ease;
}

.change-page.active {
  width: 100%;
}

/************************** Page change End */

/************************** Loader Start */
.pre-loader {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;}
  .pre-loader .l-item1 {
    background: #6b74e6;
    width: 0%;
    height: 2px;
    position: relative;
    top: calc(50% - 1px);
    animation: loader-anim 2s ease infinite; }
@keyframes loader-anim {
  0% {
    width: 0%; }
  50% {
    width: 100%;
    transform: translateX(0%); }
  100% {
    width: 100%;
    transform: translateX(100%); } }
/************************** Loader End */


/************************************************************** Header Start */

header .main-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  transition: all 0.5s ease;
  position: relative;
}

/************************************************************** Header End */

/************************************************************** Inner Header Start */

.inner-header{
  border-bottom: 1px solid #c9c9c9;
  background: #fff;
  /*padding: 10px 0 0;*/
}

.inner-header ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c4c4c4;
  font-weight: 400;
}
.inner-header ::-moz-placeholder { /* Firefox 19+ */
  color: #c4c4c4;
  font-weight: 400;
}
.inner-header :-ms-input-placeholder { /* IE 10+ */
  color: #c4c4c4;
  font-weight: 400;
}
.inner-header :-moz-placeholder { /* Firefox 18- */
  color: #c4c4c4;
  font-weight: 400;
}

.inner-header .logo-wrp a img{
  width: 240px;
}

.inner-header .error-search-bar{
  margin: 0 50px;
  border: 0;
  border-left: 1px solid #c9c9c9;
  background: transparent;
}

.inner-tollfree-wrp{
  width: 210px;
}

.inner-tollfree-wrp a{
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 600;
}

/************************************************************** Inner Header End */

/************************************************************** Page Tabs Start */

.page-tabs{
  background: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 65px;
  z-index: 99;
}

.page-tabs ul{
  display: flex;
  justify-content: center;
}

.page-tabs .tab{
  color: #6c6c6c;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  display: block;
}

.page-tabs .tab.active:before{
  /*content: '';*/
  background: #2184bf;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.project-details-wrp .head-wrp{
  display: flex;
  align-items: baseline;
  width: 100%;
}

.project-details-wrp .head-wrp .sec-tabs-wrp{
  display: flex;
}

.project-details-wrp .head-wrp .sec-tabs-wrp > p{
  font-size: 15px;
  color: #282828;
  text-transform: uppercase;
  margin: 0 14px;
  font-weight: 500;
  cursor: pointer;
}

/************************************************************** Page Tabs End */

/************************************************************** Heading Start */

.sub-heading{
  font-size: 34px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.contact-info.sub-heading{
  font-size: 34px;
  color: #1e1e1e;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}


/************************************************************** Heading End */

/************************************************************** Btn Start */

.btn-wrp{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  /*font-style: italic;*/
  font-weight: 700;
}

.btn-01 {
  padding: 9px 17px 8px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  display: table;
  letter-spacing: 2px;
}

.btn-02 {
  padding: 9px 17px 8px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  display: table;
  letter-spacing: 2px;
  border: 1px solid #4e4e4e;
}

.blink-btn:before{
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
   /*border: 2px solid rgba(3, 116, 183, 0.45); */
  border-radius: 20px;
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  animation: blink_btn 1s ease infinite;
  display: none;
}

@keyframes blink_btn{
  0%{
    width: 0%;
    height: 0%;
    left: 0;
    right: 0;
    opacity: 1;
  }
  100%{
    width: 100%;
    height: 100%;
    left: -50%;
    right: -50%;
    opacity: 0;
  }
}

.underline-tab{
  position: relative;
  cursor: pointer;
}

.underline-tab.active:before {
  content: '';
  background: #0374b7;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.left-line-headding{
  position: relative;
}

.left-line-headding .line{
  background: #2184bf;
  width: 15%;
  height: 1px;
  position: absolute;
  top: 14px;
  left: 0;
}

.left-line-headding .sub-heading{
  margin-left: calc(15% + 20px);
}

/************************************************************** Btn End */

/************************************************************** Menu Start */

header{
  z-index: 999;
  transition: all 1s ease;
  position: fixed;
  top: 0;
  width: 100%;
}

/*header.active{
  background: #fff;
}
*/
.logo-wrp a img {
  width: 326px;
}

.logo-wrp a img:last-child{
  display: none;
}

/************************************* Nav Icon Start */

nav{
  position: absolute;
  right: 0;
  z-index: 9999;
}

nav .menu-btn {
  cursor: pointer;
  background: #4e4e4e;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .menu-btn .lines{
  position: relative;
  width: 19px;
  height: 22px;
}

nav .menu-btn .lines span {
  display: block;
  background: #fff;
  width: 19px;
  height: 2px;
  margin: 4px 0;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
}

nav .menu-btn .lines span:nth-child(1) {
  top: 0;
}

nav .menu-btn .lines span:nth-child(2),
nav .menu-btn .lines span:nth-child(3) {
  top: 6px;
}

nav .menu-btn .lines span:nth-child(4) {
  top: 12px;
}

nav.active .menu-btn .lines span:nth-child(1)/*,
.hover-body nav .menu-btn:hover .lines span:nth-child(1)*/ {
  top: 6px;
  left: 50%;
  width: 0;
}

nav.active .menu-btn .lines span:nth-child(2)/*,
.hover-body nav .menu-btn:hover .lines span:nth-child(2)*/ {
  transform: rotate(45deg);
}

nav.active .menu-btn .lines span:nth-child(3)/*,
.hover-body nav .menu-btn:hover .lines span:nth-child(3)*/ {
  transform: rotate(-45deg);
}

nav.active .menu-btn .lines span:nth-child(4)/*,
.hover-body nav .menu-btn:hover .lines span:nth-child(4)*/ {
  top: 6px;
  left: 50%;
  width: 0;
}

.hover-body nav.active .menu-btn:hover .lines span:nth-child(2){
  animation: close_btn_line_02 0.5s cubic-bezier(0.72, -0.02, 0.31, 0.99);
}

@keyframes close_btn_line_02{
  0%{
    transform: rotate(45deg) translate(0, 0);
    opacity: 1;
  }
  49%{
    transform: rotate(45deg) translate(200%, 0);
    opacity: 1;
  }
  50%{
    transform: rotate(45deg) translate(200%, 0);
    opacity: 0;
  }
  51%{
    transform: rotate(45deg) translate(-200%, 0);
    opacity: 0;
  }
  52%{
    transform: rotate(45deg) translate(-200%, 0);
    opacity: 1;
  }
  100%{
    transform: rotate(45deg) translate(0, 0);
    opacity: 1;
  }
}

.hover-body nav.active .menu-btn:hover .lines span:nth-child(3){
  animation: close_btn_line_03 0.5s cubic-bezier(0.72, -0.02, 0.31, 0.99) .1s;
}

@keyframes close_btn_line_03{
  0%{
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
  49%{
    transform: rotate(-45deg) translate(200%, 0);
    opacity: 1;
  }
  50%{
    transform: rotate(-45deg) translate(200%, 0);
    opacity: 0;
  }
  51%{
    transform: rotate(-45deg) translate(-200%, 0);
    opacity: 0;
  }
  52%{
    transform: rotate(-45deg) translate(-200%, 0);
    opacity: 1;
  }
  100%{
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
}

/************************************* Nav Icon End */

.menu-wrp{
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  color: #000;
  width: 1220px;
  height: 100%;
  padding: 60px 50px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: all 1s ease;
  z-index: 1001;
}

.menu-wrp.active{
  transform: translateX(0%);  
}

.whatsapp-wrp{
  display: none;
}

.menu-wrp .top-wrp{
  display: flex;
  flex-direction: row-reverse;
}

.menu-wrp .top-wrp .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18%;
}

.menu-wrp .top-wrp .left a{
  font-size: 13px;
  font-weight: 700;
  color: #262626;
  text-transform: uppercase;
  padding: 4px 0 12px;
  position: relative;
  display: table;
  letter-spacing: 2px;
}

.menu-wrp .top-wrp .left a:after{
  bottom: 10px;
  background: #000;
}


.menu-wrp .top-wrp .right{
  display: flex;
  flex-flow: row wrap;
  width: 82%;
  padding-left: 4%;
  border-left: 1px solid #e3e3e3;
}

.menu-wrp .top-wrp .right > a {
  width: 36%;
  padding-left: 30px;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-top: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-wrp .top-wrp .right > a:nth-child(1),
.menu-wrp .top-wrp .right > a:nth-child(4) {
  padding-left: 0;
  width: 28%;
}

.menu-wrp .top-wrp .right > a:nth-child(4),
.menu-wrp .top-wrp .right > a:nth-child(5),
.menu-wrp .top-wrp .right > a:nth-child(6) {
  padding-top: 30px;
  border-bottom: 0;
}

.menu-wrp .top-wrp .right > a:nth-child(3n) {
  border-right: 0;
}

.menu-wrp .top-wrp .right > a .sub-name {
  font-size: 16px;
  color: #4e4e4e;
  display: none;
}

.menu-wrp .top-wrp .right > a .name {
  font-size: 31px;
  color: #2184bf;
  font-weight: 700;
  letter-spacing: -2px;
  position: relative;
  display: table;
}

.menu-wrp .top-wrp .right a .line-anim-01:after{
  background: #2184bf;
}

.menu-wrp .top-wrp .right a.active .line-anim-01:after,
.hover-body .menu-wrp .top-wrp .right a:hover .line-anim-01:after{
  width: 100%;
}

/**********************************/
.middle-wrp {
  max-height: 50%;
}
.menu-wrp .middle-wrp > .heading{
  font-size: 26px;
  font-weight: 700;
  color: #767676;
  letter-spacing: -2;
  margin-bottom: 24px;
}

.menu-wrp .middle-wrp .second-01{
  display: flex;
}

.menu-wrp .middle-wrp .second-01 .wrp-02 .content-wrp {
  padding-right: 0px;
}

/**********************************/

.menu-wrp .bottom-wrp{
  font-family: 'Roboto', sans-serif;  
  padding: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.menu-wrp .bottom-wrp .left a{
  font-size: 26px;
  color: #767676;
  font-weight: 700;
}

.menu-wrp .bottom-wrp .right a {
    background: #767676;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.menu-wrp .bottom-wrp .right a.bg-anim-01:nth-child(1):after{
  background: #3a589b;
}

.menu-wrp .bottom-wrp .right a.bg-anim-01:nth-child(2):after{
  background: #598dca;
}

.menu-wrp .bottom-wrp .right a.bg-anim-01:nth-child(3):after{
  background: #007ab9;
}

.menu-wrp .bottom-wrp .right a.bg-anim-01:nth-child(4):after{
  background: #517fa6;
}

.menu-wrp .bottom-wrp .right a.bg-anim-01:nth-child(5):after{
  background: #d6492f;
}

.menu-wrp .bottom-wrp .right a img{
  position: relative;
  z-index: 9;
}

.menu-wrp .horiz-line{
  background: url('../images/menu-line.png') repeat;
  width: 100%;
  height: 5px;
  margin-bottom: 20px;
}

.menu-overlay {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: rgba(0,0,0,.5);
  display: none;
}

/************************************************************** Menu End */

/************************************************************** Home Error Search Bar Start */

.error-search-bar{
  background: #f2f2f2;
  width: 100%;
  padding: 12px 0;
  border: 1px solid #c9c9c9;
  border-right: 0;
  border-left: 0;
  margin-top: 67px;
}

.error-search-bar .search-wrp{
  width: calc(100% - 230px);
}

.error-search-bar .search-wrp form{
  display: flex;
  align-items: center;
  position: relative;
}

.error-search-bar .search-wrp img{
  margin: 0px 14px;
}

.error-search-bar .search-wrp input#search{
  border: 0;
  width: 100%;
  height: 40px;
  background: transparent;
  font-size: 23px;
  font-weight: 400;
  font-family: 'Raleway';
}

.error-search-bar .search-wrp input[type=submit]{
  display: none;
}

.error-search-bar .search-wrp .close-btn{
  background: #c7c6c6;
  color: #4e4e4e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: absolute;
  left: 0;
  cursor: pointer;
  display: none !important;
}

/*.hover-body .error-search-bar .search-wrp .close-btn:hover{
  background: #b1afaf;
}

.error-search-bar .search-wrp .close-btn.active{
  display: flex;
}*/

/************************************************************** Home Error Search Bar End */

/************************************************************** Footer-1 Start */

.footer-1{
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-1 a {
  padding: 10px 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer-1 .circle {
  background: #cacaca;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/************************************************************** Footer-1 End */

/************************************************************** Footer-2 Start */

.footer-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 140px;
  padding: 30px 0;
}

.footer-2 p,
.footer-2 a,
.footer-2 span {
  color: #6c6c6c;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}

.footer-2 .sec-02 span {
  margin: 0 10px;
}

.hover-body .footer-2 .sec-02 a:hover {
  text-decoration: underline;
}

.footer-2 .sec-03 a {
  margin: 0 2px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: all 0.3s ease;
}

.hover-body .footer-2 .sec-03 a:hover{
  transform: translateY(-4px);
}

.footer-2 .sec-03 a:nth-child(1){
  background: #39579b;
}

.footer-2 .sec-03 a:nth-child(2){
  background: #588dc9;
}

.footer-2 .sec-03 a:nth-child(3){
  background: #0079b8;
}

.footer-2 .sec-03 a:nth-child(4){
  background: #517ea6;
}

.footer-2 .sec-03 a:nth-child(5){
  background: #d6492f;
}

.footer-2 .sec-03 a:nth-child(6){
  background: #ca3737;
}

/************************************************************** Footer-2 End */

/************************************************************** Project Item Start */

.project-item{
  width: 20%;
  height: 460px;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.project-item a{
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hover-body .project-item:hover{
  /*box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.6);*/
}

.project-item .top-band {
  position: absolute;
  width: 100%;
  left: 0px;
  top:0px;
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.project-item .top-band img {
  width: auto;
  max-width: 130px;
  padding: 15px 0 0 15px;
}

.project-item .top-band p {
  background: #fff;
  padding: 6px 10px;
}

.project-item img{
  width: 100%;
  transition: all 1s ease;
}

.project-item .img-zoom-wrp{
  position: relative;
}

.project-item .project-type{
  position: absolute;
  right: 0;
  bottom: 20px;
  background: rgba(196, 78, 78, 0.9);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.project-item .project-type:after{
  content: '';
  position: absolute;
  left: -12px;
  top: 0px;
  border-left: 12px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgba(196, 78, 78, 0.9);
  pointer-events: none;
}

.project-item .project-type:before{
  content: '';
  position: absolute;
  left: -12px;
  bottom: 0px;
  border-left: 12px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid rgba(196, 78, 78, 0.9);
  pointer-events: none;
}

.project-item p{
  font-size: 14px;
  color: #1e1e1e;
  font-weight: 600;
}

.project-item .para-01{
  width: 70%;
  text-align: center;
  margin: 8px 0;
}

.project-item .price{
  border: 1px solid #1e1e1e;
  padding: 10px 20px;
  margin-bottom: 8px;
}

.project-item .price span{
  font-weight: 800;
}

.project-item .btn-01{
  background: #4e4e4e;
  color: #fff;
  margin-bottom: -13px;
  font-size: 10px;
}

#completed_projects_slider .project-item .btn-01 {
  opacity: 0;
}

.project-item .bg-anim-01:after {
  content: 'View Details';
  color: #fff;
  background: #2184bf;
}

.hover-body .project-item:hover .bg-anim-01:after{
  width: 100%;
  padding: 9px 17px 8px;
}

/************************************************************** Project Item End */

/************************************************************** Box List Start */



.box-list {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box-list > img {
  border: 3px solid #ccc;
  width: 42%;
}

.box-list .content-wrp {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 58%;
  align-items: flex-start;
}

.box-list .content-wrp .heading {
  font-size: 18px;
  font-weight: 700;
  color: #2184bf;
}

.box-list .content-wrp .sub {
  font-size: 13px;
  font-weight: 600;
  color: #585858;
  font-style: italic;
}

.box-list .content-wrp .para-01 {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin: 8px 0;
}

.box-list .content-wrp a {
  color: #2184bf;
  border: 1px solid #2184bf;
}

.hover-body .box-list .content-wrp a:hover {
  color: #fff;
}

.box-list .content-wrp a.bg-anim-01:after {
  content: 'READ MORE';
  color: #fff;
  background: #2184bf;
}

/*.box-list{
  display: flex;
  width: 48%;
  margin: 30px 0;
}

.box-list .left{
  border: 3px solid #b6b6b6;
}

.box-list .right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.box-list .right h4{
  font-size: 26px;
  color: #2184bf;
  font-weight: 700;
}

.box-list .right .cat{
  font-size: 13px;
  color: #585858;
  font-weight: 600;
  font-style: italic;
}

.box-list .right .para{
  color: #262626;
  font-size: 14px;
}*/

/************************************************************** Box List End */

/************************************************************** Search Filter Start */

.search-filter{
  display: flex;
  align-items: center;
  padding: 0 10%;
  margin-top: 63px;
  border-bottom: 1px solid #c9c9c9;
  background: #fff;
 /* display: none;*/
}

.search-filter .wrp{
  /*width: calc(100% - 350px);*/
  width: 100%;
}

.search-filter form{
  display: flex;
  justify-content: center;
}

.search-filter .select-wrp{
  position: relative;
  cursor: pointer;
  width: 20%;
}

.search-filter .select-wrp:first-child{
  border-left: 1px solid #b9b9b9; 
}

.search-filter .select-wrp:after{
  content: '';
  position: absolute;
  right: 12px;
  top: 18px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #0676b8;
  pointer-events: none;
}

.search-filter select{
  color: #303030;
  border: 0;
  border-right: 1px solid #b9b9b9;
  padding: 12px;
  width: 100%;
  /*border-radius: 3px;*/
  cursor: pointer;
  outline: none;
}

.search-filter select:nth-child(2){
  display: block;
}

.search-filter select option {
    background: #f1f1f1;
    padding:5px 0;
}

.search-filter .error-search-bar{
  width: 350px;
}

/************************************************************** Search Filter End */

/************************************************************** Breadcrumb Start */

.breadcrumb{
  max-width: calc(100% - 30px);
  display: flex;
  color: #000;
  position: absolute;
  padding: 10px 1%;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
}

.breadcrumb-right{
  content: '';
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-bottom: 37px solid transparent;
  border-left: 20px solid rgba(255, 255, 255, 0.8);;
  position: absolute;
  right: -20px;
  top: 0;
  padding: 0 !important;
}

.breadcrumb > * {
  padding: 0 8px;
  color: #4e4e4e;
}

.breadcrumb a{
  font-weight: 600;
  text-transform: uppercase;
  color: #4e4e4e;
}

.breadcrumb a.current{
  color: #0374b7;/*#787878*/
}

.breadcrumb a img{
  width: 17px;
}

/************************************************************** Breadcrumb End */

/************************************************************** Form Start */

.form-wrp{
  color: #1e1e1e;
  font-size: 22px;
  line-height: 40px;
}

.form-wrp .title{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-wrp input{
  background: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 21px;
  /*margin: 0 4px;*/
}

.form-wrp ::-webkit-input-placeholder {
  color: #2184bf;
}
.form-wrp ::-moz-placeholder {
  color: #2184bf;
}
.form-wrp :-ms-input-placeholder {
  color: #2184bf;
}
.form-wrp :-moz-placeholder {
  color: #2184bf;
}

/************************************************************** Form End */

#underline {
   position: absolute;bottom: -1px;left: 0;width: 132px;height: 2px;border-bottom: 2px solid #2184bf;
}

/************************************************************** Project Listing Start */


.project-listing header{
  padding: 0;
}

.project-listing .home-slide-wrp{
  position: inherit; height: auto;width: 100%;
}

.project-listing .ongoing-projects{
  border-bottom: none;
}

/************************************************************** Project Listing End */

/************************************************************** Prev Next btns Start */

.next-prev .owl-nav{
  position: absolute;
  left: -16%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.next-prev .owl-nav [class*=owl-]{
  background: transparent;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 20px;
  color: #0676b8;
  position: relative;
  padding: 24px 7px;
}

.next-prev .owl-nav [class*=owl-]:before,
.next-prev .owl-nav [class*=owl-]:after{
  content: '';
  background: #0676b8;
  width: 1px;
  height: 50px;
  position: absolute;
  transition: all 0.3s ease;
}

.next-prev .owl-nav .owl-next:before{
    transform: rotate(45deg);
    right: 20px;
    top: 24px;
}

.next-prev .owl-nav .owl-next:after{
    transform: rotate(-45deg);
    right: 20px;
    top: -10px;
}

.next-prev .owl-nav .owl-prev:before{
    transform: rotate(45deg);
    left: 0px;
    top: -10px;
}

.next-prev .owl-nav .owl-prev:after{
    transform: rotate(-45deg);
    left: 0px;
    top: 24px;
}

.hover-body .next-prev .owl-nav [class*=owl-]:hover{
  background: transparent;
  color: #0676b8;
}

.hover-body .next-prev .owl-nav .owl-next:hover:before{
    transform: rotate(45deg) translate(10px, -10px);
}

.hover-body .next-prev .owl-nav .owl-next:hover:after{
    transform: rotate(-45deg) translate(10px, 10px);
}

.hover-body .next-prev .owl-nav .owl-prev:hover:before{
    transform: rotate(45deg) translate(-10px, 10px);
}

.hover-body .next-prev .owl-nav .owl-prev:hover:after{
    transform: rotate(-45deg) translate(-10px, -10px);
}

/************************************************************** Prev Next btns Ends */

/************************************************************** Hover Effect Start */

.img-zoom-01 .img-zoom-wrp{
  width: 100%;
  overflow: hidden;
}

.hover-body .img-zoom-01:hover .img-zoom-wrp img{
  transform: scale(1.1);
}

.img-zoom-01 .img-zoom-wrp img{
  transition: all 0.3s ease;
}

/************************************************************** Hover Effect Ends */
/************************************************************** 404 Start */

.wrp-404{
  height: calc(100% - 100px);
}

.wrp-404 .img-wrp{
  width: 100%;
  height: 100%;
  background: 15% center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.wrp-404 .content-wrp{
  position: absolute;
  top: 30%;
  right: 24%;
  color: #000;
  width: 460px;
}

.wrp-404 .content-wrp p {
  color: #fff;
  background: #000;
  font-size: 34px;
  font-weight: bolder;
  display: inline;
  line-height: 42px;
}

.wrp-404 .content-wrp .links-wrp{
  margin-top: 60px;
}

.wrp-404 .content-wrp a{
  border-radius: 30px;
  padding: 7px 30px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Raleway';
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}

.wrp-404 .content-wrp a.link-01{
  background: #4e4e4e;
  color: #fff;
}

.wrp-404 .content-wrp a.link-02{
  background: #0374b7;
  color: #fff;
}

/************************************************************** 404 Ends */

/************************************************************** Raodblock Start */
li.country span {
  color: #444;
}
.roadblock-wrp{/* display:none !important; */position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 9991;background: rgba(0, 0, 0, 0.7);display: flex;align-items: center;justify-content: center;overflow-y: auto;}

.roadblock-wrp > p{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  
}

.roadblock-wrp > div{
  position: relative;
  text-align: center;
  max-width: 810px;
  /*width: 80%;*/
}

.roadblock-wrp img.deskView{
  width: 100%;
  display: block;
}
.roadblock-wrp img.mobView{
  width: 100%;
  display: none;
}

.roadblock-wrp > div > span{
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
}

.roadblock-wrp .form-wrp{
  background: #fff;
  display:none;
}

.roadblock-wrp .form-wrp .frmTitle{
  color: #0b2041;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  text-align: center;
  display: block;
  position: relative;
}
.roadblock-wrp .form-wrp .frmTitle:after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #0b2041;
  left: 0;
  top: 50%;
}
.roadblock-wrp .form-wrp .frmTitle p {
    background: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}
.btnsubmit{
  background: #886a19;
  font-size: 12px;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
  border:0;
  outline: 0;
  height: 26px;
  display: block;
  transition: all 0.3s ease-in-out;
  border:1px solid #886a19;
}
.btnsubmit:hover {
  background:#fff;
  color: #886a19;
}
/*.roadblock-wrp .form-wrp p:before,
.roadblock-wrp .form-wrp p:after{
  content: '';
  background-color: #0b2041;
  height: 1px;
  width: 100px;
  display: block;
}*/

.roadblock-wrp .form-wrp form{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.roadblock-wrp .form-wrp .formGrp {
  position: relative;
  padding: 0 5px;
}
.roadblock-wrp .form-wrp .intl-tel-input.separate-dial-code .selected-dial-code {
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
.roadblock-wrp .form-wrp .intl-tel-input .selected-flag .iti-arrow {
  border-top: 7px solid #fff;
}
.roadblock-wrp .form-wrp form input[type=text], .roadblock-wrp .form-wrp form input[type=number], .roadblock-wrp .form-wrp form input[type=email],#roadblockProjectList{
  /*width: 100%;*/
  max-width: 175px;
  background: #0e3f60;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #0e3f60;
  color: #fff;
  display: block;
}
.roadblock-wrp .intl-tel-input {
  display: block;
}
.roadblock-wrp input::-webkit-input-placeholder {
  color: #fff;
}
.roadblock-wrp input::-moz-placeholder {
  color: #fff;
}
.roadblock-wrp input:-ms-input-placeholder {
  color: #fff;
}
.roadblock-wrp input:-moz-placeholder {
  color: #fff;
}
.roadblock-wrp .form-wrp form input[type=submit]{
  background: #0e3f60;
  font-size: 12px;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}

.roadblock-wrp ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0e3f60;
  font-weight: 400;
}
.roadblock-wrp ::-moz-placeholder { /* Firefox 19+ */
  color: #0e3f60;
  font-weight: 400;
}
.roadblock-wrp :-ms-input-placeholder { /* IE 10+ */
  color: #0e3f60;
  font-weight: 400;
}
.roadblock-wrp :-moz-placeholder { /* Firefox 18- */
  color: #0e3f60;
  font-weight: 400;
}



/************************************************************** Raodblock Ends */

form input.blue-btn {background: #0374b7; border-radius: 30px;padding: 7px 30px; border: none; color: #fff;text-transform: uppercase; font-size: 15px; font-family: 'Raleway'; 
  font-weight: 700;letter-spacing: 1.5px;transition: 0.5s;cursor: pointer;width: auto;}
.hover-body form input.blue-btn:hover {background: #333;}
.hide-desk{display: none;}
a.view-nri-txt {display: none;color: #0374b7;text-decoration: underline;}
.mob-tab-selected {display: none;}
nav.mob-btn {display: none;position: fixed; right: 10px; top: 10px;z-index: 1002}
#price-enquiry .intl-tel-input .flag-container {max-height: 35px;}

/* Click for Popup  window */
.fade-lightbx {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: none;
}
.lightbox-overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
  cursor: pointer;
}
.fade-lightbx-content {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-left: 3px solid #0060a5;
    max-height: 90%; 
   /* overflow-y: auto;*/
    z-index: 2;
}
.price-enq-form {
    padding: 5%;
    border-radius: 0;
}
.fade-lightbx input, .fade-lightbx textarea, .fade-lightbx select {
    outline: 0;
    font-size: 13px;
    text-align: left;
    text-align-last: left;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #eaeaea;
    border-radius: 0;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
}
.fade-lightbx select {
  background: url(../images/down-arw.png) no-repeat 99%;
}
.openings td a.close-popup, .close-popup{
  position: absolute;
  right: 10px;
  top:10px;
  color: #000;
  font-size: 23px;
  z-index: 9;
  font-weight: 700;
  border: none;
}
.fade-lightbx input.sub-enq{
    background: #0060a5;
    text-transform: uppercase;
    outline: 0;
    letter-spacing: 3px;
    font-size: 13px;
    width: auto;
    cursor: pointer;
    text-align: center;
    padding: 2% 6%;
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
}

.fade-lightbx h3 {
    color: #0060a5;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.fade-lightbx h4 {
  color: #333;
  font-weight: bold;
  font-size: 14px; margin-bottom: 15px;
}
.submited-msg {padding: 2%; border-top: 5px solid #0060ad; border-radius: 4px;}
.submited-msg h5 {color: #333;font-size: 15px;font-weight: 500}

.mob-filter-tab {display: none;color: #1e1e1e;text-transform: uppercase;font-weight: 700;}
#ongoing_projects_slider.owl-theme .owl-nav.disabled + .owl-dots {top:100%;left: 0;right: 0;margin: 0 auto;}
#ongoing_projects_slider {margin-bottom: 50px;}

/* Share Popup */
#share-address .fade-lightbx-content {width: 30%;overflow: hidden;}
#share-address ul {display: flex; text-align: center;justify-content: center;}
#share-address li {display: flex;color: #1e1e1e; width: 48%;justify-content: center;align-items: center;flex-direction: column;font-size: 17px; text-transform: uppercase;font-weight: 700;}
#share-address li a{display: flex;flex-direction: column;color: #1e1e1e;align-items: center;}
#share-address img {margin-bottom: 15px;}
#share-address h3 {margin-bottom: 20px;}
.share-no-form {position: absolute; width:0;left: 3px;bottom:0;padding: 10px;background: #f7f7f7;display: none;}
.share-no-form span{font-size: 12px;padding: 0 10px;cursor: pointer;}
a.fancybox-zm {cursor: pointer;}


.next-prev.desk-nav.owl-theme .owl-nav [class*='owl-']{width: 20px !important; height: 38px !important; font-size: 0; padding-top: 15px;padding-bottom: 15px}
.next-prev.desk-nav .owl-nav {width: 100%; top: 50%; z-index: -1; transform: translateY(-50%);left: 0;height: auto;flex-direction: row; justify-content: space-between;}
.next-prev.desk-nav .owl-nav [class*=owl-]:before, .next-prev.desk-nav .owl-nav [class*=owl-]:after {height: 24px;}
.next-prev.desk-nav .owl-nav .owl-prev {margin-left: -30px}
.next-prev.desk-nav .owl-nav .owl-prev:before {top: 0;left: 7px;}
.next-prev.desk-nav .owl-nav .owl-prev:after {left: 7px;top: 17px;}
.next-prev.desk-nav .owl-nav .owl-next {margin-right: -30px}
.next-prev.desk-nav .owl-nav .owl-next:before{right: 7px;top: 17px;}
.next-prev.desk-nav .owl-nav .owl-next:after {right: 7px;top:0;}

.hover-body .next-prev.desk-nav .owl-nav .owl-next:hover:before{transform: rotate(45deg) translate(0, 0);}
.hover-body .next-prev.desk-nav .owl-nav .owl-next:hover:after{transform: rotate(-45deg) translate(0, 0);}
.hover-body .next-prev.desk-nav .owl-nav .owl-prev:hover:before{transform: rotate(45deg) translate(0, 0);}
.hover-body .next-prev.desk-nav .owl-nav .owl-prev:hover:after{transform: rotate(-45deg) translate(0, 0);}

.no-margn {margin: 0 !important}
.deskView {
  display: block;
}
.mobView {
  display: none;
}
@media only screen and (min-width: 1500px){
  header .main-wrapper {
    width: 97%;
  }
  .home-body .home-slide .arrow {
    left: 2.1%;
  }
  .project-item{
    height: 650px;
  }
}

@media only screen and (max-width: 1200px){
  .page-tabs .tab {padding: 20px 10px;}
  .wrp-404 .content-wrp {right: 8%}
}

@media only screen and (max-width: 1100px){
  .menu-wrp {max-width: 100%}
  .next-prev .owl-nav {left: -14%}
}


@media only screen and (max-width: 1024px){

  .whatsapp-wrp{
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    display: block;
  }

  .page-tabs .tab {font-size: 13px}
  .menu-wrp .top-wrp .right > a .name {font-size: 28px}

/************************************************************** Project Details Start */
  .next-prev .owl-nav {left: -19%;}

/************************************************************** Project Details End */
}

@media only screen and (max-width: 768px), (max-width: 1024px) and (orientation: portrait) { 

/************************************************************** Breadcrumb Start */

.breadcrumb{
    flex-wrap: wrap;
}

.breadcrumb > * {
    padding: 0 8px 5px;
}

/************************************************************** Breadcrumb End */

  /* Header Start*/
  header .main-wrapper {display: block;width: 100%;}
  header .logo-wrp {display: block; padding: 8px 10px}
  .inner-header .logo-wrp a img {width: auto}
  nav {position: fixed; right: 15px; top: 12px;z-index: 1002}
  .page-tabs ul {display: block;transition:0.5s;height: 0;right: -100%;width: calc(100% - 70px);position: fixed;background: #fff;box-shadow: 0 10px 30px rgba(0,0,0,0.4);height: auto}
  .page-tabs {position: absolute;z-index: 1000;top: 63px;}
  .mob-tab-selected {display: block;position: fixed;width: calc(100% - 70px);color: #0374b7;font-size: 14px;text-transform: uppercase;right: 0px;padding: 16px 12px;border: 1px solid #c9c9c9; border-left: none;border-right: none;height: 48px;transition: 0.5s;}
  .error-search-bar .search-wrp {width: 100%;}
  .error-search-bar .search-wrp img {margin: 0 24px;max-width: 20px}
  .mob-tab-selected:after {content: '';position: absolute;right: 30px;border: 7px solid #0374b7;border-left-color:transparent; border-right-color: transparent; border-bottom: none;transition: 0.5s;top: 50%; transform: translateY(-50%);}
  .mob-tab-selected.active:after{transform: rotate(180deg);}
  .mob-tab-selected.tab-closed {width: 70px}
  .mob-tab-selected.tab-closed span{display: none;}
  .page-tabs ul.tabs-list{right: 0}
  .page-tabs ul.tabs-list li{border-bottom: 1px solid #e1e1e1}
  .page-tabs .tab.active{color: #0374b7}
  .error-search-bar .search-wrp input {font-size: 16px}
  nav.mob-btn {display: block;}
  .no-tabs .inner-header .error-search-bar {width: 100%!important;border-left: none;border-right: none;}
  .fade-lightbx-content, #share-address .fade-lightbx-content {width: 80%;}

  /* Search Filter */
  .inner-header .error-search-bar {margin-left: 0;border: 1px solid #c9c9c9;transition: 0.5s;width: 70px;}
  .inner-header .error-search-bar.srch-opened {width: calc(100% - 70px);}
  .inner-header .error-search-bar.if-filter {width: calc(100% - 100px);}
  .search-filter {width: 100px;position: fixed;right: 0;z-index: 999;padding: 16px 12px;border-top: 1px solid #c9c9c9;justify-content: center;top:0;}
  .inner-header .error-search-bar {padding: 3px 0;}
  .search-filter .wrp {display: none;width: 300px;position: absolute;right: 0;top: 48px;background: #fff;}
  .mob-filter-tab {display: flex;}
  .mob-filter-tab img {margin-right: 8px;}
  .search-filter form {flex-direction: column;}
  .search-filter .select-wrp {width: 100%;border: none;}
  .search-filter select {border: none;}

/* Header Ends */

  .left-line-headding .line, .sub-heading br{display: none;}
  .menu-wrp .top-wrp .right > a .name {font-size: 20px}
  .menu-wrp .middle-wrp .second-01 {justify-content: space-between;}
  .box-list {flex-direction: column; width: 49%;align-items: center;}
  .box-list .content-wrp {padding: 20px 20px 20px 0;}
  .box-list .content-wrp a {margin-top: 20px}
  .box-list img{width: 42%;}
  .next-prev .owl-nav {left: -26%;}

  /* 404 Page */
  .wrp-404 {height: auto}
  .wrp-404 .img-wrp {position: relative;height: 55%;background-size: contain;background-position: bottom;}
  .wrp-404 .content-wrp {position: relative; left: 0;right: 0; margin: 0 auto;padding-bottom: 50px;}

  .inner-tollfree-wrp {position: fixed;width: 100%; color: #fff;background: rgba(0,0,0,0.8);bottom: 0;padding: 10px 20px;text-align: left;left: 0;}
  .inner-tollfree-wrp a{color: #fff;}
  .footer-2 {padding: 30px 0 60px;height: 150px;}

  /* Footer Start */

  .home-body .footer-1{
    display: none;
  }

  /****************************/

  #phplive_btn_1500478216{
      background: url('../../../livechatadmin/pics/icons/icon_online_mobile.png') center no-repeat;
      width: 60px;
      height: 30px;
      bottom: 4px !important;
      display: none;
  }
  #phplive_btn_1500478216 img{
      display: none;
  }

}
@media only screen and (max-width: 767px) {
  .roadblock-wrp img.deskView{
    width: 100%;
    display: none;
  }
  .roadblock-wrp img.mobView{
    width: 100%;
    display: block;
  }
  .deskView {
  display: none;
}
.mobView {
  display: block;
}
  .roadblock-wrp > div {
    /*max-width: calc(100% - 40px);*/
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
  }
  .roadblock-wrp .form-wrp form {
    display: block;
  }
  .roadblock-wrp .form-wrp form input[type=text], .roadblock-wrp .form-wrp form input[type=number], .roadblock-wrp .form-wrp form input[type=email],#roadblockProjectList {
    max-width: 100%;
    width: 100%;
  }
  .roadblock-wrp .form-wrp .formGrp {
    padding: 5px 15px;
  }
  .btnsubmit {
    margin: 0 auto;
  }

  /* Menus Start */
  .middle-wrp {display: none;}
  .menu-wrp .top-wrp{flex-direction: column; height: 50%; justify-content: space-between;}
  .menu-wrp .top-wrp .right, .menu-wrp .top-wrp .left {width: 100%}
  .menu-wrp .top-wrp .right {border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;border-left: none;padding-left: 0}
  .menu-wrp .top-wrp .right > a .sub-name {display: none;}
  .menu-wrp .top-wrp .right > a,.menu-wrp .top-wrp .right > a:nth-child(4), .menu-wrp .top-wrp .right > a:nth-child(5), .menu-wrp .top-wrp .right > a:nth-child(6){padding: 15px 10px}
  .menu-wrp .top-wrp .right > a:nth-child(odd){padding-left: 0}
  .menu-wrp .top-wrp .right > a:nth-child(even){padding-right: 0;border-right: none;}
  .menu-wrp .top-wrp .right > a {width: 50% !important}
  /*.menu-wrp .top-wrp .right > a:first-child {order: 1;}
  .menu-wrp .top-wrp .right > a:nth-child(2) {order: 4;}*/
  .menu-wrp .top-wrp .right > a:nth-child(3) {border-right: 1px solid #e3e3e3; /*order: 3;*/}
  .menu-wrp .top-wrp .right > a:nth-child(4) {border-bottom: 1px solid #e3e3e3;/*order: 2;*/}
  /*.menu-wrp .top-wrp .right > a:nth-child(5) {order: 5;}*/
  .menu-wrp .top-wrp .right {margin-bottom: 20px}
  .menu-wrp .bottom-wrp, .hide-desk {display: block;}
  .menu-wrp .bottom-wrp .left{margin-bottom: 20px}
  .menu-wrp .bottom-wrp .right{margin-top: 20px}
  .hide-mob{display: none;}
  .menu-wrp {padding: 70px 20px 0 20px}
  .menu-wrp .bottom-wrp .left a {font-size: 22px}
  .menu-wrp .top-wrp .right > a .name {font-size: 18px;}
    /* Menus Ends */

  .footer-1 a {font-size: 14px;letter-spacing: 2px}
  .owl-theme .owl-nav [class*='owl-']{width: 14px !important; height: 27px !important; font-size: 0; padding-top: 15px;padding-bottom: 15px}
  .next-prev .owl-nav {width: 100%; top: 50%; transform: translateY(-50%);left: 0;height: auto;flex-direction: row; justify-content: space-between;z-index: -1;}
  .next-prev .owl-nav [class*=owl-]:before, .next-prev .owl-nav [class*=owl-]:after {height: 24px;}
  .next-prev .owl-nav .owl-prev {margin-left: -20px}
  .next-prev .owl-nav .owl-prev:before {top: 0;left: 0;}
  .next-prev .owl-nav .owl-prev:after {left: 0;top: 17px;}
  .next-prev .owl-nav .owl-next {margin-right: -20px}
  .next-prev .owl-nav .owl-next:before{right: 0;top: 17px;}
  .next-prev .owl-nav .owl-next:after {right: 0;top:0;}
  #awrds_slider.owl-carousel .owl-item {box-shadow:none !important; border: 1px solid #e1e1e1}
  .hover-body .next-prev .owl-nav .owl-next:hover:before{transform: rotate(45deg) translate(0px);}
  .hover-body .next-prev .owl-nav .owl-next:hover:after{transform: rotate(-45deg) translate(0px);}
  .hover-body .next-prev .owl-nav .owl-prev:hover:before{transform: rotate(45deg) translate(0px);}
  .hover-body .next-prev .owl-nav .owl-prev:hover:after{transform: rotate(-45deg) translate(0px);}
  .owl-carousel .owl-stage-outer {margin-left: 0!important;}
  #fun_slider.next-prev .owl-nav {top: 50%;}  
  .home-body header .logo-wrp a img:last-child, header.slide-header .logo-wrp a img:first-child {max-width: 65%}
  .wrp-404 .content-wrp {max-width: 90%}
  .error-wrapper {width: 80%;}

  .menu-wrp .top-wrp + .horiz-line{
    display: none;
  }
  .menu-wrp .bottom-wrp .right a:first-child{
    margin-left: 0;
  }
  .roadblock-wrp .form-wrp p:before,
  .roadblock-wrp .form-wrp p:after {
    width: 14%;
  }
  .roadblock-wrp .form-wrp form input[type=submit]{
    width: 160px;
  }
}

@media only screen and (max-width: 540px) {
  .hidden-txt {display: none;}
  a.view-nri-txt {display: block;}
  .page-tabs .tab {padding: 12px;}
  .footer-1 a{padding: 10px 9px;}
  nav{right: 10px;top: 7px;}
  .mob-tab-selected {padding: 11px 12px;height: 36px;font-size: 13px}
  .mob-tab-selected:after {right: 20px}
  nav .menu-btn {width: 35px;height: 35px;}
  header .logo-wrp {padding: 7px 15px;}
  .inner-header .logo-wrp a img {max-width: 230px;}
  .page-tabs {top: 53px;}
  .fade-lightbx-content {width: 92%;}
  .wrp-404 .content-wrp p {font-size: 28px;line-height: 35px;}
  .error-search-bar .search-wrp input#search {height: 28px;font-size: 16px;}
  .search-filter {padding: 10px}

  .menu-wrp .top-wrp .right > a,.menu-wrp .top-wrp .right > a:nth-child(4), .menu-wrp .top-wrp .right > a:nth-child(5), .menu-wrp .top-wrp .right > a:nth-child(6){padding: 8px 10px;
  }
  .menu-wrp .top-wrp .right > a:nth-child(odd) {padding-left: 0;}

  .menu-wrp .top-wrp{flex-direction: column; height: auto;}
  .search-filter .wrp {top: 36px;}
  .submited-msg h5 {margin: 20px;}
  .openings td a.close-popup, .close-popup {top:0; right: 5px;}

  .roadblock-wrp .form-wrp p {
    font-size: 12px;
    padding: 15px 10px 0;
  }
  .roadblock-wrp .form-wrp p:before,
  .roadblock-wrp .form-wrp p:after {
    display: none;
  }
  /*.roadblock-wrp .form-wrp form input[type=text],
  .roadblock-wrp .form-wrp form input[type=email]{
    max-width: 90%;
  }*/
}

@media only screen and (max-width: 380px) {
  .roadblock-wrp .form-wrp p {
      font-size: 10px;
    }
}
@media only screen and (max-width: 360px) {
  .footer-1 a {font-size: 12px;letter-spacing: 1px;padding: 10px}
  .form-wrp {line-height: 30px;}
  .btn-wrp {flex-direction: column;align-items: center;margin-top: 25px;}
  .wrp-404 .content-wrp a {padding: 7px 22px;}
}

/* For Firefox */
input[type='number'] {
-moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.overlayLoading {
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99991;
  background-image: url('../images/popup_loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px;
}
#roadblockProjectList{outline: none;}



/*project detail page css*/
.projectHeaderTag {
   
    position: absolute;
    top: 0;
    /* text-transform: uppercase; */
 
}
.projectHeaderTag h1
{

font-size: 30px;
    color: #1e1e1e;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}